@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

h1 {
  font-size: 45px;
  text-align: center;
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
}

.random-link {
  text-align: center;
  padding: 20px 0;
}

.form-input {
  text-align: center;
}
